<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/laptop123/IdeaProjects/MavenProject">
        <classes>
            <class name="com.test.MultiTest2">
                <methods>
                    <include name="Mousehovering"/>
                    <include name="Dropdown"/>
                </methods>
            </class>
            <class name="com.test.MultiTest3">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>